.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px #000;
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    background-color: rgb(246, 205, 40);
    height: 8vh;
    
    opacity: 0;
    animation: show-down 1000ms ease-in-out forwards;
}